name: All Tests on Master Push

on:
  push:
    branches: ["master"]

jobs:
  all-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .

      - name: Run ALL tests (unit + integration)
        run: |
          cd build
          ctest --output-on-failure
